---
import "../styles/global.css";

const serviceId = import.meta.env.PUBLIC_SERVICE_ID;
const templateId = import.meta.env.PUBLIC_TEMPLATE_ID;
const userId = import.meta.env.PUBLIC_USER_ID;
---

<section class="contact">
  <div class="contact-wrap">
    <div class="contact-info">
      <p class="sub-title">Contact us</p>
      <h1 class="title">Request a quote</h1>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <form class="form" id="contact-form">
        <div class="form-section">
          <div class="input-vertical">
            <label for="fullname">Full name</label>
            <input type="text" name="fullname" id="fullname" required />
          </div>
          <div class="input-vertical">
            <label for="phone">Phone number</label>
            <input type="tel" name="phone" id="phone" required />
          </div>
        </div>
        <div class="form-section">
          <div class="input-vertical">
            <label for="service">Select service</label>
            <select name="service" id="service">
              <option value="no-select"></option>
              <option value="window">Window</option>
              <option value="residential">Residential</option>
              <option value="commercial">Commercial</option>
            </select>
          </div>
          <div class="input-vertical">
            <label for="time">Select time</label>
            <select name="time" id="time">
              <option value="no-select"></option>
              <option value="morning">Morning</option>
              <option value="noon">Noon</option>
              <option value="afternoon">Afternoon</option>
            </select>
          </div>
        </div>
        <div class="input-vertical">
          <label for="message">Message</label>
          <textarea name="message" id="message" placeholder="Type your message..."></textarea>
        </div>
        <div>
          <input type="checkbox" name="terms" id="terms" required />
          <label for="terms">I accept the <span>Terms</span></label>
        </div>
        <input class="btn" type="submit" value="Submit" />
      </form>
    </div>
    <img src="/images/contact.png" alt="woman" class="image" />
  </div>
</section>

<style>
  .contact {
    display: flex;
    background-color: var(--color_grey);
    padding: 48px 24px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact-wrap {
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
  }

  section {
    font-family: "Roboto", sans-serif;
  }

  .sub-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .text {
    font-size: 18px;
  }

  .label {
    font-size: 16px;
  }

  input,
  textarea,
  select {
    padding: 15px 12px;
    border-radius: 5px;
    border: 1px solid var(--color_black);
    font-family: "Roboto", sans-serif;
  }

  textarea {
    height: 180px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .btn {
    padding: 12px 24px;
    border-radius: 5px;
    background-color: var(--color_black);
    color: var(--color_white);
    width: 100%;
  }

  .btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .image {
    display: none;
  }

  .input-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
  }

  span {
    text-decoration: underline;
  }

  span:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  @media screen and (min-width: 680px) {
    .contact-wrap {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    .contact-info {
      max-width: 50%;
    }

    .image {
      display: block;
      max-width: 40%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 1080px) {
    .contact-wrap {
      max-width: 1280px;
      width: 100%;
      display: flex;
      gap: 80px;
      margin: 0 auto;
      flex-wrap: nowrap;
    }

    .contact-info {
      max-width: 50%;
      width: 100%;
    }

    .title {
      font-size: 48px;
      font-weight: 700;
    }

    .image {
      display: block;
      max-width: 50%;
      width: 100%;
      object-fit: cover;
    }

    .form-section {
      flex-direction: row;
    }

    .btn {
      width: fit-content;
    }
  }
</style>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script type="module" define:vars={{ userId }}>
  // const userId = userIdElement.getAttribute('data-user-id');
  (function () {
    emailjs.init({
      publicKey: userId,
    });
  })();
</script>

<script is:inline define:vars={{ serviceId, templateId }}>
  document
    .getElementById("contact-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const formData = {
        fullname: document.getElementById("fullname").value,
        phone: document.getElementById("phone").value,
        service: document.getElementById("service").value,
        time: document.getElementById("time").value,
        message: document.getElementById("message").value,
      };

      emailjs.send(serviceId, templateId, formData).then(
        function (response) {
          console.log("SUCCESS!", response.status, response.text);
          alert("Your message has been sent successfully!");
        },
        function (error) {
          console.error("FAILED...", error);
          alert(
            "There was an error sending your message. Please try again later."
          );
        }
      );
    });
</script>
