<section>
  <div>
    <p>Contact us</p>
    <h1>Request a quote</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <form>
      <label for="">Full name</label>
    </form>
  </div>
</section>