---
import Header from "../components/Header.astro"
import Pictures from "../components/Pictures.astro"
import OurTeam from "../components/OurTeam.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Header />
    <OurTeam />
    <Pictures />
    <Footer />
  </body>
</html>